@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.quiz-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../assets/download.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.option-item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.next-button:hover {
  background-color: #4CAF50;
  transform: scale(1.1);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.absolute {
  position: absolute;
}